.contenedor
{
width: 600px;
background-color: rgb(255, 255, 255);
margin: 0 auto;
padding: 20px;
margin-top: 5px;
border-radius: 15px;
}

.contenedor h1
{
text-align: center;
color: #7096be;
}

.contenedor table
{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
}
.contiene
{
    width: 30px;
    background-color: #a3c5ea;
    padding: 30px;
}
.no-contiene
{
width: 30px;
background-color: #dfe8f1;
padding: 10px;
}
.contenedor-alternativa
{
    display: flex;
    justify-content: center;

}
.caja
{
    width: 30px;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    color: rgb(53, 143, 113);
    background-color: rgba(169, 237, 237, 0);
    border: 1px  solid #687f4d;
    cursor: pointer;
    margin: 2px;
}
.resultado
{
    background-color: #4c8bce;
    color: #d3e2f2;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    
}
.tiempo
{
    transition: all 0.3s;
    }
.marco 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: calibri;
    color: rgb(0, 0, 0);
}
.botones-contenedor 
{
    color: #4c8bce;
    display: flex;
    justify-content: space-around;
}
.btn 
{
    color:#85c839;
    cursor: pointer;
    display: inline-block;
    font-size: 60%;
    padding: 20px;
}